.mt-40-c {
  margin-top: 40px;
}

.mt-30-c {
  margin-top: 30px;
}

.mt-20-c {
  margin-top: 20px;
}

.mt-10-c {
  margin-top: 10px;
}

.mb-5-c {
  margin-bottom: 5px;
}

.mr-10-c {
  margin-right: 10px;
}

.ml-30-c {
  margin-left: 30px;
}

.p-4-8-c {
  padding: 4px 8px;
}

.p-5-c {
  padding: 5px;
}

.pb-10-c {
  padding-bottom: 10px;
}
